/* Hent skrifttypen Lora fra Google Fonts */

@import url('https://fonts.googleapis.com/css?family=Lora:400');
body {
    /* Centrer siden, gør den smal på store skærme og fyld skærmen fra top til bund */
    margin: 0 auto;
    max-width: 411px;
    min-height: 100vh;
    /* Skriftype og -størrelse ændres */
    font-family: Lora, serif;
    font-size: 14px;
}

header,
footer,
main {
    /* Lav luft mellem header, footer og main */
    padding: 10px 0;
}

button {
    /* Definer egne farver og størrelser for knapper */
    width: 100%;
    max-width: 8em;
    height: 4em;
    background-color: #eeeeee;
    border: solid 1px #dddddd;
    padding: 2px;
    margin: 2px;
    box-shadow: #eeeeee 2px 2px;
}

button:hover {
    /* Når musen holdes over en knap, skal den være lidt mørkere */
    background-color: #dddddd
}

button:active {
    /* Når der trykkes på en knap, skal den være endnu mørkere, og skyggen formindskes for at give effekt af at den bliver trykket ned */
    background-color: #cfcfd8;
    box-shadow: #eeeeee 1px 1px;
}

button.active {
    /* Knappen, der viser den aktive profil er rød */
    background-color: #dd4949
}


/* centrerer tekst i elementer med klassen "center" */

.center {
    text-align: center;
}


/* centrerer knapper i elementer med klassen "center" */

.center button {
    margin: 1px auto;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}


/* Ændr højde og bredde på elementer med html-klasser */

.h25 {
    height: 25%
}

.h50 {
    height: 50%
}

.h75 {
    height: 75%
}

.h100 {
    height: 100%;
}

.w50 {
    width: 50% !important
}

.w75 {
    width: 75% !important
}

.w25 {
    width: 25% !important
}

.h {
    /* Flyt element mod bunden :
        ---------
        |       |
        |       |
        |  HER  |
        ---------
    */
    margin-top: auto
}

.H {
    /* Flyt element mod toppen
        ---------
        |  HER  |
        |       |
        |       |
        ---------
    */
    margin-bottom: auto;
}

.w {
    /* Centrer uden at ændre amrgin på top og bund */
    margin-left: auto;
    margin-right: auto;
}

@supports (display: grid) {
    /* I browsere, der understøtter grid-layout (opdaterede moderne browsere) */
    body {
        /* 'header' og 'footer' skal være så små som muligt mens 'main' fylder resten af skærmens plads */
        display: grid;
        grid-template-rows: min-content auto min-content;
    }
    .col {
        display: grid
    }
    /* Dette gælder for alle med forskellige antal colonner */
    .one.col {
        /* Grids med én kolonne */
        grid-template-columns: 1fr;
    }
    .two.col {
        /* Grid med to lige store kolonner */
        grid-template-columns: repeat(2, 1fr);
    }
    .three.col {
        /* Tre lige store kolonner */
        grid-template-columns: repeat(3, 1fr);
    }
    .four.col {
        /* Fire lige store kolonner */
        grid-template-columns: repeat(4, 1fr);
    }
    .three-one {
        /* To kolonner, den første tre gange så stor som den anden */
        grid-template-columns: 3fr 1fr;
    }
    .col button {
        /* Knapper i en kolonne skal fylde hele kolonnens bredde med mindre andet er specificeret */
        width: auto
    }
    .keypad {
        /* Det numeriske tastatur er fire kolonner med 1em mellemrum mellem rækker */
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 1em;
        margin-top: 1em;
    }
    .keypad button {
        /* Knapperne på det numeriske tastatur skal være runde */
        padding: 10px;
        width: 4em;
        border-radius: 50%;
        margin: 2px auto;
    }
}